.header {
	width: 100%;
	height: 70px;
	background: #ed7f2d;
	padding: 5px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header img {
	height: 100%;
}

.header form {
	padding: 10px;
	width: 240px;
}

.header button {
	height: 40px;
	border: 2px solid white;
	background: #ed7f2d;
	outline: none;
	font-weight: bold;
	color: white;
}

.header button:hover {
	background: #d76613;
	color: white;
	border: 2px solid white;
}

body {
	color: #FF8800;
	background: #fdeeec 
	!important;
}

.sml_lg {
	display: none;
}

.h2_pad {
	padding: 15px 0px;
	text-align: center;
}

#text {
	font-weight: bold;
	font-size: 18px;
}

.btn_form {
	margin: 0px auto;
	padding-bottom: 25px;
	width: 60%;
}

.btn_form button {
	height: 40px;
	border: 2px solid white;
	background: #f09a59;
	outline: none;
	font-weight: bold;
	color: white;
}

.btn_form button:hover {
	background: #cf8146;
	color: white;
	border: 2px solid white;
}

@media ( max-width : 800px) {
	.big_lg {
		display: none;
	}
	.sml_lg {
		display: block;
	}
	.header {
		padding: 0px 20px;
	}
	.header form {
		width: 240px;
	}
}

@media ( max-width : 520px) {
	.container {
		width: 100%;
	}
}