.header {
	width: 100%;
	height: 70px;
	background: #ed7f2d;
	padding: 5px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header img {
	height: 100%;
}

.header form {
	padding: 10px;
	width: 240px;
}

.header button {
	height: 40px;
	border: 2px solid white;
	background: #ed7f2d;
	outline: none;
	font-weight: bold;
	color: white;
}

.header button:hover {
	background: #d76613;
	color: white;
}

tbody {
    background: #eee;	
}

body {
	background-color: #ed7f2dc9 
	!important;
}

.sml_lg {
	display: none;
}

@media ( max-width : 800px) {
	.big_lg {
		display: none;
	}
	.sml_lg {
		display: block;
	}
	.header form{
		padding: 14px;
		width: 240px;
	}
}

@media ( max-width : 520px) {
	.container {
		width: 100%;
	}
	.cl_bclock {
		display: none;
	}
}